server:
  port: 8080

spring:
  datasource:
    hikari:
      master:
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: root
        password: password
        jdbc-url: jdbc:mysql://localhost:3306/idus_homework?serverTimezone=UTC&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
      replica:
        driver-class-name: com.mysql.cj.jdbc.Driver
        username: root
        password: password
        jdbc-url: jdbc:mysql://localhost:3307/idus_homework?serverTimezone=UTC&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        show_sql: true
  redis:
    port: 6379
    host: localhost

springdoc:
  version: '1.0'
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /swagger-ui.html
    doc-expansion: none
    disable-swagger-default-url: true